<div class="my-10 space-y-6 text-center">
  <div class="flex justify-center">
    <svg-icon src="assets/icons/check-circle.svg" [svgClass]="'w-16 h-16 text-green-500'"></svg-icon>
  </div>

  <div class="space-y-2">
    <h2 class="text-foreground text-3xl font-semibold">¡Contraseña actualizada!</h2>
    <p class="text-muted-foreground text-sm">
      Tu contraseña ha sido actualizada exitosamente. Ahora puedes iniciar sesión con tu nueva contraseña.
    </p>
  </div>

  <div>
    <app-button routerLink="/auth/sign-in" full impact="bold" tone="primary" shape="rounded" size="medium">
      Volver al inicio de sesión
    </app-button>
  </div>
</div>
